<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Peralatan</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    
    <header>

        <ul class="navmenu">
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Shop</li>
            <li><a href="#"></a>Product</li>
            <li><a href="#"></a>Page</li>
            <li><a href="#"></a>Dosc</li>
        </ul>

        <div class="nav-icon">
            <a href="#"><i class='bx bx-seacrh'></i></a>
            <a href="#"><i class='bx bx-user'></i></a>
            <a href="#"><i class='bx bx-cart'></i></a>
        
        <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="main-home">
        <div class="main-text">
            <h5>Jec's Donuts Website</h5>
            <h1>Welcome<br>To Our Website!</h1>
            <p>Our Food, Can be ur Choice</p>

            <a href="#" class="main-btn">Buy Now<i class='bx bx-right-arrow-alt' ></i></a>
        </div>

        <div class="down-arrow">
            <a href="#trending" class="down"><i class='bx bx-down-arrow-alt' ></i></a>
        </div>
    </section>

    <!-- trending-products-section -->
    <section class="trending-product" id="trending">
        <div class="center-text">
            <h2>Apa aja sih <span>yang kami jual?</span></h2>
        </div>

        <div class="products">
            <div class="row">
                <img src="..//asset/donuts-jcoccino.webp" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <h4>Jcoccino Donuts</h4>
                    <p>Rp</p>
                </div>
            </div>

            <div class="row">
                <img src="../asset/oreology.webp" alt="">
                <div class="product-text">
                    <h5>New</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <h4>Oreology Donuts</h4>
                    <p>Rp3.000</p>
                </div>
            </div>

            <div class="row">
                <img src="..//asset/alcapone.webp" alt="">

                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <h4>Alcapone Donuts</h4>
                    <p>Rp10.000</p>
                </div>
            </div>

            <div class="row">
                <img src="../asset/coco-loco.webp" alt="">
                <div class="product-text">
                    <h5>Hot</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <h4>Coco Loco Donuts</h4>
                    <p>Rp5.000</p>
                </div>
            </div>

            <div class="row">
                <img src="../asset/choco crunchy.webp" alt="">

                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <h4>Choco Crunchy Donuts</h4>
                    <p>Rp6.000</p>
                </div>
            </div>

            <div class="row">
                <img src="../asset/glazzy.webp" alt="">
                <div class="product-text">
                    <h5>Hot</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half' ></i>
                </div>

                <div class="price">
                    <h4>Glazzy Donuts</h4>
                    <p>Rp3.000</p>
                </div>
            </div>

            </div>

    </section>

    <section class="Update-news">
        <div class="up-center-text">
            <h2>Deskripsi</h2>
        </div>

        <div class="update-cart">
            <div class="cart">
                <p>Selamat datang di Jec's Donuts, surga bagi para penggemar donat! Kami menawarkan beragam donat lezat yang dibuat dengan resep rahasia dan bahan berkualitas tinggi.

                    Nikmati pilihan donat kami, termasuk:
                    
                    Donat Klasik: Dari donat gula sederhana hingga donat cokelat yang menggoda.
                    Variasi Kreatif: Cobalah donat isi krim, donat berlapis, dan rasa musiman yang unik.
                    Pengemasan Segar: Setiap donat dikemas dengan hati-hati untuk memastikan kesegaran dan kelezatan.
                    Dengan layanan pengiriman cepat, Anda bisa menikmati donat favorit langsung di rumah. Bergabunglah dengan kami di Jec's Donuts dan rasakan manisnya setiap gigitan!</p>
            </div>

            <div class="cart">
                <img src="../asset/donuts.jpeg" alt="">
        </div>
    </section>

    <!-- contact-section -->
    <section class="contact">
        <div class="contact-info">
            <div class="first-info">
                <img src="image/GiulFood5.png" alt="">

                <p>Jl. Pandanaran II/2, Mugassari, <br> Kecamatan Semarang Selatan,</p>
                <p>+62 882-0033-96750</p>
                <p>jeconiaforwork01@gmail.com</p>

                <div class="social-icon">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bxl-youtube' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </div>
        </div>
        </div>
    </section>


    <script src="script.js"></script>
    
</body>
</html>
</body>
</html>